<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="contaner">
      <div class="titulo">
        <img src="/images/img.jpg" alt="">
          
      </div> 
       <ul>
                 <li>
                        <a href="/login">INICIO</a>
                 </li>
                <li>
                      <a href="/registroanimal">REGISTRO DE ANIMAL</a>
                </li>
                 <li>
                      <a href="/identificador">GESTION</a>
                </li>
                 <li>
                      <a href="/control">CONTROL DE PRODUCCION </a>
                 </li>
                 <li>
                      <a href="#">ACERCA DE NOSOTROS ?</a>
                 </li>
       </ul>
</div>
  </body>
</html>
